# Build output
build/
dist/

# Dependencies
node_modules/

# Coverage reports
coverage/

# Logs
*.log

# Ignore package-lock.json
package-lock.json

# Ignore .git directory
.git/

# Ignore other configuration files
.github/
